<a href="https://colab.research.google.com/github/SindhuPineedi98/Data-Analyst-Project/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
import json

# Load the uploaded JSON file to view its contents
file_path = "/content/dataset_1.json"  # Replace with the actual file path if necessary

# Read the file as a list of JSON objects
with open(file_path, 'r') as file:
    json_content = [json.loads(line) for line in file]

    #If there is only 1 JSON object, the above code will give a list,
    # the following line is a condition to ensure a single JSON object instead of list
    if len(json_content) == 1:
        json_content = json_content[0]

# Print the JSON content or use it
json_content

!pip install openpyxl==3.1.5


import pandas as pd

df = pd.DataFrame(json_content)

df.to_excel('output.xlsx', index=False)

Requirement already satisfied: openpyxl==3.1.5 in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl==3.1.5) (2.0.0)

In [13]:
#Reading the dataset(assuming the dataset is stored in a csv file)
df = pd.read_excel('/content/output.xlsx')
df

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"['\n', 'Sicherheit:', ' ', 'Deaktivierung für ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,NaN,NaN,...,['\nLangstreckenfahrzeug daher die hohe Kilome...,['\n4 (Green)\n'],['\n7\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"['\n', 'Fahrzeug-Nummer: AM-95365', ' ', 'Ehem...",['\n4 (Green)\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,"73,000 km",08/2016,1 previous owner,NaN,...,"['\nAudi A1: ', '- 1e eigenaar ', '- Perfecte ...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,"16,200 km",05/2016,1 previous owner,NaN,...,"['\n', 'Technik & Sicherheit:', 'Xenon plus', ...",NaN,NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,NaN,NaN,...,['\nVettura visionabile nella sede in Via Roma...,NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"['\nDach: Panorama-Glas-Schiebedach, Lackierun...",NaN,['\n7\n'],['\nGermany\n'],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"['\n', 'Getriebe:', ' Automatik', 'Technik:', ...",NaN,['\n6\n'],['\nAustria\n'],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,NaN,NaN,...,"['\nDEK:[2691331]', 'Renault Espace Blue dCi 2...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"['\n', 'Sicherheit Airbags:', ' ', 'Seitenairb...",['\n4 (Green)\n'],NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.head(5)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"['\n', 'Sicherheit:', ' ', 'Deaktivierung für ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,NaN,NaN,...,['\nLangstreckenfahrzeug daher die hohe Kilome...,['\n4 (Green)\n'],['\n7\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"['\n', 'Fahrzeug-Nummer: AM-95365', ' ', 'Ehem...",['\n4 (Green)\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,"73,000 km",08/2016,1 previous owner,NaN,...,"['\nAudi A1: ', '- 1e eigenaar ', '- Perfecte ...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,"16,200 km",05/2016,1 previous owner,NaN,...,"['\n', 'Technik & Sicherheit:', 'Xenon plus', ...",NaN,NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df["make_model"].head(5)

0    Audi A1
1    Audi A1
2    Audi A1
3    Audi A1
4    Audi A1
Name: make_model, dtype: object

In [17]:
df["vat"].tail(5)

15914    VAT deductible
15915    VAT deductible
15916    VAT deductible
15917    VAT deductible
15918    VAT deductible
Name: vat, dtype: object

In [21]:
# Convert 'km' column to numeric, handling errors
df["km"] = pd.to_numeric(df["km"], errors='coerce')

# Now apply the filter
filter = df["km"] > 80000

In [23]:
df[filter]

Empty DataFrame
Columns: [url, make_model, short_description, body_type, price, vat, km, registration, prev_owner, kW, hp, Type, Previous Owners, Next Inspection, Inspection new, Warranty, Full Service, Non-smoking Vehicle, null, Make, Model, Offer Number, First Registration, Body Color, Paint Type, Body Color Original, Upholstery, Body, Nr. of Doors, Nr. of Seats, Model Code, Gearing Type, Displacement, Cylinders, Weight, Drive chain, Fuel, Consumption, CO2 Emission, Emission Class,
Comfort & Convenience
,
Entertainment & Media
,
Extras
,
Safety & Security
, description, Emission Label, Gears, Country version, Electricity consumption, Last Service Date, Other Fuel Types, Availability, Last Timing Belt Service Date, Available from]
Index: []

[0 rows x 54 columns]

In [24]:
price1 = df["price"] > 14500

In [25]:
price1

0         True
1        False
2         True
3        False
4         True
         ...
15914     True
15915     True
15916     True
15917     True
15918     True
Name: price, Length: 15919, dtype: bool

In [26]:
df[price1]

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,NaN,01/2016,2 previous owners,NaN,...,"['\n', 'Sicherheit:', ' ', 'Deaktivierung für ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,NaN,02/2016,1 previous owner,NaN,...,"['\n', 'Fahrzeug-Nummer: AM-95365', ' ', 'Ehem...",['\n4 (Green)\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,NaN,05/2016,1 previous owner,NaN,...,"['\n', 'Technik & Sicherheit:', 'Xenon plus', ...",NaN,NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN
5,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.6 TDI Sport DSG *SHZ*Xenon*Navi*Bose*PDC*,Sedans,15090,NaN,NaN,02/2016,1 previous owner,NaN,...,['\nSichern Sie sich diesen Audi A1 1.6 TDI Sp...,['\n4 (Green)\n'],NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN
6,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S-TRONIC S-LINE*NAVI|XENON*,Station wagon,16422,VAT deductible,NaN,03/2016,1 previous owner,NaN,...,"['\nREDUZIERT !!!', 'MwSt. ausweisbar', 'Netto...",NaN,NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,NaN,-/-,NaN,NaN,...,['\nVettura visionabile nella sede in Via Roma...,NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,NaN,01/2019,1 previous owner,NaN,...,"['\nDach: Panorama-Glas-Schiebedach, Lackierun...",NaN,['\n7\n'],['\nGermany\n'],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,NaN,03/2019,1 previous owner,NaN,...,"['\n', 'Getriebe:', ' Automatik', 'Technik:', ...",NaN,['\n6\n'],['\nAustria\n'],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,NaN,06/2019,NaN,NaN,...,"['\nDEK:[2691331]', 'Renault Espace Blue dCi 2...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,NaN,01/2019,1 previous owner,NaN,...,"['\n', 'Sicherheit Airbags:', ' ', 'Seitenairb...",['\n4 (Green)\n'],NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# prompt: print the only price column which is more than 15000

# Assuming 'df' is already defined from the previous code

price_filter = df["price"] > 15000
print(df.loc[price_filter, "price"])

0        15770
4        16790
5        15090
6        16422
8        16700
         ...
15914    39950
15915    39885
15916    39875
15917    39700
15918    40999
Name: price, Length: 9853, dtype: int64

# **print the only price column which is more than 15000**
**bold text**